header {
    display: flex;;
    align-content: center;
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
}
.Logo {
    width: 70vw;
    margin-top: 37vw;
}

.FortsætKnap {
    display: flex;
    text-align: center;
    margin-top: 100vw;
    font-size: 3vw;
    padding: 1vw 2vw;
    border: 1vw black solid;
    border-radius: 7px;
    font-family: Impact;    
}