 body {
    margin: 0;
 }

 header {
    display: flex;
    justify-content: center;
 }

 #Logo {
    width: 70vw;
    margin-top: 37vw;
 }
.parent {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0;
}

.Produkt {
    display: inline-block;
   margin: 5vw;
   margin-top: 40vw;
}

 #Produkt-billed {
    width: 35vw;
}
