 body {
    margin: 0;
 }

 header {
    display: flex;
    justify-content: center;
 }

 #Logo {
    width: 70vw;
    margin-top: 37vw;
 }
.parent {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0;
}

.Produkt {
   display: inline-block;
   margin: 5vw;
   margin-top: 40vw;
   text-decoration: none;
   width: 90vw;
   border-radius: 3%;
   border: solid black 0.5px;
   height: 80vw;
}

.Produkt:hover {
   justify-content: center;
   align-items: center;
   align-content: center;
}

 #Produkt-billed {
    width: 60vw;
    margin-top: 3vw;
}

#Disc {
   font-size: 5vw;
   justify-content: left;
   text-align: left;
   text-decoration: none;
   color: black;
   font-weight: bolder;
   margin-left: 1.5vw;
   margin-top: 1vw;
}

#pris {
   font-size: 5vw;
   text-align: left;
   color: black;
   margin-left: 1.5vw;
   margin-top: -4vw;
}